.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.center-content {
  display: flex;
  flex-direction: column; /* To center-align vertically */
  align-items: center; /* Center-align horizontally */
  justify-content: center; /* Center-align vertically */
  height: 100vh; /* Adjust as needed */
  text-align: center; /* Center-align text within the container */
}


/* DiaryEntry.css */

/* Style for the entry content */
.entry {
  width: 400px; /* Increase the width as needed */
  padding: 10px;
  text-align: left;
}

/* Add any additional styles as needed */

/* Add any additional styles as needed */
